.auth-container {
    width: 100%;
    max-width: 350px;
    margin: 50px auto;
    margin-top: 150px;
    padding: 20px;
    background: #1d1d1d;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
    box-sizing: border-box;
  }
  
  .auth-container h2 {
    margin-bottom: 1rem;
    font-size: 24px;
  }
  
  .auth-container form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  .auth-container input {
    background-color: #242424;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }
  
  .auth-container button {
    background: #007bff;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background 0.3s ease;
    width: 100%;
  }
  
  .auth-container button:hover {
    background: #0056b3;
  }
  
  .register-button {
    display: inline-block;
    color: #007bff;
    font-weight: bold;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .register-button:hover {
    text-decoration: underline;
  }
  
  .forgot-button {
    display: inline-block;
    color: #007bff;
    text-decoration: none;
    margin-top: 10px;
  }
  
  .forgot-button:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 400px) {
    .auth-container {
      padding: 15px;
    }
  
    .auth-container h2 {
      font-size: 20px;
    }
  
    .auth-container input, 
    .auth-container button {
      font-size: 14px;
      padding: 10px;
    }
  }