.equipment-sheet {
    position: relative;
    width: 100%;
    max-width: 500px;
    max-height: 500px;
    height: auto;
    background-size: contain;
    margin: 0 auto;
    aspect-ratio: 1 / 1;
  }
  
  .slot {
    position: absolute;
    width: 50px;
    height: 50px;
    border: 2px dashed rgba(255, 255, 255, 0.5);
  }
  
  .item-icon {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  @media (max-width: 600px) {
    .equipment-sheet {
        max-width: 80%;
        height: auto;
    }
    
    .slot {
      width: 30px;
      height: 30px;
      border: 1px dashed rgba(255, 255, 255, 0.5);
    }
  }